/*Desktop*/
@media screen and  (min-width:1140px) {

.section-header {
    font-size: 3.8em;
    margin:20px;
}
.section-sub-header {
    font-size: 3em;
}

/*Fixed menu*/

.fixed-menu {
    padding: 10px 10px 10px 10px;
}
.insta-navbar a {
    font-size:1.5em;
}

.facebook-navbar a {
    font-size:1.5em;
}

.toggle-menu{
    font-size: 1.5em;
}

/*Collapsed Menu*/
/*close icon*/
.close{
    font-size:1.5em; 
}
/*makeup by shae logo in menu bar */
.navigation-selection li{
    font-size:1.25em;
}


/*Banner section */
.banner-words{
    margin:0px 25%;
}

.banner-container{
    padding:150px 0 100px 0 ;
}

.first-line {
    font-size:3.8em;
}

.makeup-brush-icon {
    width:40px;
}
.second-line {
    font-size:1.5em;
}
.page-content {
    top:475px;
}
/*portfolio */

.banner-words-portfolio {
    margin:5% 30% 20% 30%;
    padding:5px;
}
<<<<<<< HEAD
=======



>>>>>>> master

/*About*/

.container-2 {
    padding:0 70px;
    text-align:justify;
}

  
.polaroid-effect {
    width:25%
}

.about-shae-text {
    width:75%
}
<<<<<<< HEAD

=======
>>>>>>> master

.polaroid-effect .pic-of-shae {
    width:70%;
    height:50%;
    margin:0 0;
}
<<<<<<< HEAD
.banner-words-portfolio {
    margin:5% 30% 20% 30%;
    padding:5px;
}


.polaroid-effect .pic-of-shae {
    width:70%;
    height:50%;
    margin:0 0;
}
=======
>>>>>>> master
