@font-face { 
    font-family: Oswald;
    src: url('../fonts/Oswald-Regular.ttf');
    font-weight:normal; 
}
@font-face { 
    font-family: Droid_Sans;
    src: url('../fonts/DroidSans.ttf');
    font-weight:normal;
}

.body {
    font-size:16px;
    color:white;
    text-align:center;
}

.menu-primary {
    background-color:#5f5f5f;
    list-style-type:none;
    text-align:center;
    margin:0;
    padding:0; 
    font-size:1em; 
    

}

li {
    display:inline;
    padding:0px;
}

.menu-primary a{
    display:inline-block;
    color:white;
    text-decoration:none;
}

.menu-primary a:visited {
    color:white;
}

.menu-primary a:hover {
    color: deeppink;
}

.menu-primary a:active {
    background-color: black;
}


.banner-section {
    background: url('../img/make-up.jpg'); 
    text-align: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    color:white;
}

.container {
    padding:0;
}

.first-line {
    font-size:2.2em;
    padding:40px;
}

.second-line {
    font-size:18px;
    padding: 20px;
}
