@font-face { 
    font-family: Oswald;
    src: url('../fonts/Oswald-Regular.ttf');
    font-weight:normal; 
}
@font-face { 
    font-family: Droid_Sans;
    src: url('../fonts/DroidSans.ttf');
    font-weight:normal;
}

.body {
    font-size:16px;
    color:white;
    text-align:center;
}

.menu-primary {
    position:fixed;
    width:250px;
    margin-left:0;
    overflow:hidden;
    height: 100vh;
    background-color:slategrey;
    max-height:100vh;
    transition: all 0.3s ease-in-out;}

.close{
    float:right;
    padding:20px;
    transition: all 0.3s ease-in-out;
    font-size:1.5em;
}

.boxed-item {
    font-weight: 200px;
    padding: 10px 10px;
    display:inline-block;
    border: solid 2px deeppink;
    box-sizing:border-box;
    font-size:26px;
    color:white;
    text-align:center;
    margin: 40px 10px 0 20px;
}

.logo {
    font-weight:800;
}

.logo-title {
    color:white;
    font-weight:200;
    font-size:14px;
    text-align:center;
    padding:12px 0px;
}

.navigation-selection{
    display:block;
    list-style-type:none;
    margin:20px 0;
    font-size:1em; 
    margin-left:25px;
    width:200px;
    color:white;
}

.navigation-selection li {
    padding:10px 0;
    font-weight:200px;
    color:white;
    box-sizing: border-box;
    font-size:20px;
    color:magenta;
    border-bottom: solid 1px magenta;
    transition: all 0.3s ease-in-out;
}

.navigation-selection a{
    display:inline-block;
    color:white;
    text-decoration:none;
}

.toggle-menu{
    width:100%;
    padding: 10px 10px 10px 10px;
    position:fixed;
    color:deeppink;
    background-color: grey;
    float:right;
    z-index: 10000000;
    font-size: 2em;
    opacity:0;
}

.hide-menu {
    margin-left:-250px;
}

.opacity-one{
    opacity:1;
}

.menu-primary a:visited {
    color:black;
}

.menu-primary a:hover {
    color: deeppink;
}

.menu-primary a:active {
    background-color: black;
}

/*BANNER */ /*https://www.youtube.com/watch?v=-6UuPT9x6Fc*/ 
.banner-section {
    background: url('../img/make-up.jpg'); 
    text-align: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    color:white;
}

.container {
    padding:0;
}

.first-line {
    font-size:2.2em;
    padding:40px;
}

.second-line {
    font-size:18px;
    padding: 20px;
}

/*About-Section*/

.about-section h2 {
    font-size: 2em;
    margin:10px;
    text-align: center;
}
.about-section p {
    text-align:center;
}

.container-2 {
    padding:20px;
}

/*site-footer*/
.site-footer {
    background-color: black;
    color:white;
    text-align:center;
    padding:30px;
}

.site-footer a {
    color: white;
}

.site-footer a:hover {
    color:deeppink;
}

.site-footer .text{
    display:none;
}

.site-footer .toggle {
    padding:20px;
}